@import './common';

.bulkUpdateResultModal {
  top: 220px;
  height: 320px;
  width: 864px;
  .bulkUpdateContainer {
    width: 100%;
    display: block;
    padding: 10px 20px;

    .content {
      margin-top:20px;
      margin-left: 12px;
      font-family: Helvetica Neue, Medium;

      font-size: 16px ;
      .vertspacer{
        height:60px;
      }
      .file {
        display:inline-flex;
        width:100%;
        .fileName {
          font-family: Helvetica Neue, Medium;
          font-size: 15px ;
          display: inline-flex;
          width: 384px;
          margin-left: 208px;
          height: 32px;
          padding-left: 14px;
          margin-right: 10px;
          align-items: center;
          border: 1px solid $light-grey;
          border-radius: 2px;
          background-color: #F5F5F5;
        }
        .imgHolder{
          height:50px;
        .check{
          margin-top:-8px;
          margin-left:-4px;
          height:48px;
          width:48px;
          
        }
      }
      }
    }
    .buttons {
      width: 100%;
      height: 40px;
      $buttonWidth: 146px;
      font-size:16px;
      .close {
        background: $teal;
        color:#FFFFFF;
        display: flex;
        justify-content: center;
        font-size: 16px ;
        align-items: center;
        width: $buttonWidth;
        height: 40px;
        margin: auto;
        border-radius: 3px;
        cursor: pointer;
      }
 
    }

    }

}