@import './common';
.opacity {
  opacity: .1;
}

.bulkUpdateModal {

  top: 220px;
  .bulkUpdateContainer {
    width: 100%;
    height: 320px;

    padding: 10px 20px;
.waitMessage{
  text-align: center;
  position:relative;
  width: auto;
  height: 100px;
  left: auto;
}
    .content {
      width: 100%;
      height: 215px;
      padding-bottom: 50px;
      font-family: Helvetica Neue, Medium;
      flex-direction: row;

      .sectionTitle {
        width: 98%;

        font-size: 14px ;
      }
      .dropContainer{
        width:100%;
        .acceptFile{
          background-color: #d3f3ff !important;
        }
        .rejectFile{
          background-color: $light-red !important;
        }
        .dropZone{
          position: relative;
          height: 150px;
          border-width: 2px;
          border-color: $light-grey;
          background-color: #F7F7F7;
          border-style: dashed;
          width:100%;
         .dropArea{
           display:inline-flex;
            .uploadIcon{
              margin-left:20px;
              display:block;
              width: 50px !important;
              height:80px!important ;
            }
            .dropAreaText{
              margin-top:10px;
              padding-left:10px;
              font-size:16px;
              height:32px;
              width:100%;
              .text{
                margin-bottom:0px;
              }
              .openFile{
                color: deepskyblue;
                cursor: pointer;
              }
            }
          }
          .file{
            font-size: 14px;
            
            .fileName{
              display:inline-flex;
              width:384px;
              margin-left: 78px;
              height:32px;
              padding-left: 14px;
              margin-right:10px;
              align-items: center;
              border: 1px solid $light-grey;
            }
            .removeFile{
              cursor: pointer;
              font-size:18px;
              color:#4F5858;
              display:inline-flex;
              
            }
          }
        }      
      }

      .helpArea {
        position: absolute;
        right: 5px;
        top: 92px;
        z-index: 999;
        width: 50px;
        height: 50px;

        .helpIcon {
          width: 20px;
          cursor: pointer;
          position: absolute;
          right: 15px;
        }

        .helpBubble {
          p{
            font-weight:bold;
          }
          font-size:12px;
          width: 272px;
          height: 90px;
          background-color: $yellow;
          position: absolute;
          right: -35px;
          top:32px;
          border-radius: 5px;
          padding-left: 18px;
          padding-right: 18px;
          padding-top: 1px;
          box-sizing: border-box;
        }
        .helpBubble::after  {
          content: "";
          position: absolute;
          top: 0%;
          right: 18%;
          margin-top: -20px;
          border-width: 10px;
          border-style: solid;
          border-color: transparent transparent  $yellow transparent;
        }
      }
    }
      .validationFields {
       background-color:#F7F7F7;
        .validationFieldsInner {
          .vertspacer{
            height:20px;
          }
         margin-left:80px;
         .headerMessage{
          padding-top: 10px;
          margin-bottom: 5px;
         }
          .headerColumn{
            width: 52%;
            display: flow-root;
            .tooltip {              
              display: inline-block;
            }
            position: relative;
            .tooltiptext  {
              width: 240px;
              background-color: #F25C66;
              color: #fff;
              
              border-radius: 4px;
              padding: 5px 12px;
              margin-top: -4px;
              position: absolute;
              font-size: 12px;

              text-align: left;
              z-index: 1;              
              left: 110%;
            }
            .validHeader{
              display: inline-block;
              width: 48px;
              margin-top: -8px;
              position: absolute;
              left: 104.5%;
            }
            .label{
              margin-top: 5px;
              margin-bottom: 5px;
              text-indent: 16px;
              font-weight: 550;

            }
            .tooltiptext::after  {
              content: "";
              position: absolute;
              top: 50%;
              right: 100%;
              margin-top: -10px;
              border-width: 10px;
              border-style: solid;
              border-color: transparent #F25C66 transparent transparent;
            }
            .field{
              display:inline-flex;
              width:100%;
              &:before {
                content: "";
                background: url('images/Publications/select_carrot.svg') no-repeat right center;
                width: 20px;                
                height: 100%;
                top: 14px;                
                left: 360px;
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                position: absolute;
                pointer-events: none;
              }          
              .fieldError {
                background: white;
                border: 1px solid #f25c66 !important;
                color:#EF3340;
              }
          }
          input{
            font-family: Helvetica Neue, Regular;
            font-size:14px;
            width:100%;

          }
            .requrefieldholder {
              float: left;
              width: 100%;

              .requiredholder {
                background: #3eb1c8;
                border: 1px solid #3eb1c8;
                float: left;
                width: 30px;

                .required {
                  color: #FFFFFF;

                  font: {
                    size: 20px;
                  }

                  padding: 0 6px;

                  span {
                    position: relative;
                    top: 7px;
                  }
                }
              }

            .norequire {
              background: none;
              border: 0px;
            }
          }
        }
      }
    }

    .buttons {
      width: 100%;
      height: 40px;
      $buttonWidth: 140px;
      font-size:16px;
      .cancel {
        background: white;
        border: 2px solid $dark-grey;
        color: $dark-grey;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $buttonWidth;
        height: 40px;
        margin-right: 30px;
        border-radius: 4px;
        cursor: pointer;
      }
      .deposit {
        float: right;
        width: $buttonWidth;
        height: 40px;
        line-height: 18px;
        background: $teal;
        color: white;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        cursor: pointer;
      }
      .depositNotReady {
        background-color: #B1E0E9 !important;
        color: white !important;
        cursor: not-allowed !important;
      }
    }
  
}

}