
.depositCartHolder {
    position: relative;
}

.cartUpdate{
    display: none;
    position: absolute;
    .messageHolder {
    }
}

.showCartUpdateMessage {
    display: inline-block;
    top: 50px;
    left: (158px/2);
}

.cartItemCount {
    background: #3EB1C8;
    border-radius: 6px;
    color: #FFF;
    padding: 10px;
    position: initial;
    margin-left: -20px;
    line-height: 16px;
    margin-top: -7px;
    margin-right: 10px;
    float: right;
    left: 10px;
}