@import './common';
$base_color: #253858;
$gray: #F0F0EC;


.cascadingMenu{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: black;
    position: relative;
    left: -100%;
    line-height: 1em;
    background: #F7F7F7;
    list-style-type: none;
  .dropdown__display{
    background: white; 
  }
    .ul {
      margin-block-end: 0;
      margin-block-start: 0;
      background: $gray;
      position: absolute;
      box-shadow:0px 3px 6px rgba(0, 0, 0, 0.5);
      z-index: 2;
      width: max-content;
      border-radius:2px;
      list-style-type: none;
      padding-inline-start:0px;
    }    
    .selected{
        background-color:#4497FA;
        color:white;
    }

    
    .li{
        padding: 10px 25px 10px 30px;        //Changes overall size (last field in list is padding)
        font-size: 14px ;
        color:black;
        .right{
          right:0px;
          width:25px;
          position:absolute;
        }
        .right::before {
          content: "";
          background: url('images/Publications/select_carrot.svg') no-repeat right center;
          width: 20px;
          height: 20px;
          top:-3px;

          position: absolute;
          pointer-events: none;
        }
    }

    .dropdown--nested {

      margin-block-end: 0;
      margin-block-start: 0;
      position: absolute;

      box-shadow:0px 3px 6px rgba(0, 0, 0, 0.5);
        padding: 0;
        list-style: none;
        text-align:left;
        //border: solid 1px $base_color;
        border-radius: 3px;
        border-left: 0;
        left:100%;
        background: $gray;
          .menuOuter{
            height:392px;
            position:relative;
            .scroll{

              background-color: #BFBFBF;      
              font-size: 14px ;
              color:black;
              position:relative;
              height:16px;
              border-radius:3px;
              width:97%;
              margin-left: auto;
              margin-right: auto;
            }
            .up{
              background:url('images/AddArticle/Asset_Icons_White_Chevron.svg') no-repeat center center;
              background-color: #BFBFBF;      
              transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              margin-top:3px;
              margin-bottom:3px;
              }
              .down {   
                background:url('images/AddArticle/Asset_Icons_White_Chevron.svg') no-repeat center center;
                background-color: #BFBFBF;      
                margin-top:3px;
              margin-bottom:3px;
              }
            .ul2 {
              position:relative;
              overflow:auto;
              box-shadow:none;
              height:349px;
            }    
          }

          .ul1{

          }
          .ul {
            background: $gray;
            position: absolute;
            z-index: 2;
            border-radius:2px;
            list-style-type: none;
          }      
      }

  .check {
    float: left;
    margin: -30px;
    padding-top: 23px;

    img {
      width: 31px;
    }
  }

}