@import './common';
.app .app-contents .login {
  flex-grow: 1;
  background: url('images/Login/LoginImage-1.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  .Sunset {
    padding: 12px 12px 12px 12px;
    background: #e9e9e9;
    border-radius: 4px;
    color: #454e4e;
    background-color: #FFE395;
    text-align: center;
    font-size: 14px;
    margin:auto;
    display: inline-block;
    margin-top:10px;
    box-shadow: 0 3px 6px #0000004D;
}
  .warn-card {
    background: white;
    display: inline-block;
    margin: 79px 16px;
    width: 358px;
    position: absolute;
    left: 50%;
    text-align: left;
    box-shadow: 0 1px 5px black;

    .title {
        padding: 20px;
        border-bottom: 2px solid #999;
        font-size: 18px;
        display: block;
        width: 100%;
    }

    .content {
        padding-left: 20px;

        span {
             margin-bottom: 20px;
             margin-right: 20px;
            font-size: 12px;
            display: block;
            padding-top: 10px;

            a {
                color: #2da6bf;
				style: none;
            }
        }

        .back {
            padding: 10px;
            background: url('images/Login/back.png') no-repeat;
            display: block;
        }

        .username {
            padding: 6px 12px 6px 12px;
            background: #e9e9e9;
            border-radius: 4px;
            color: #454e4e;
            width: 300px;
            display: block;
        }

        .warning {
            margin-right: 20px;
            margin-bottom: 20px;
            padding: 20px 0px 20px 0px;
            border-bottom: 1px solid #ddd;
            font-size: 16px;
            display: block;
        }

        input {
			width: 100%
        }
    }
  }

  .login-card {
    background: white;
    display: inline-block;
    margin: 79px 16px;
    width: 358px;
    position: absolute;
    left: 50%;
    text-align: left;
    box-shadow: 0 1px 5px black;

    form {
      padding: 32px;
    }

    &.invalid-credentials {
      input:not([type=button]):not([type=submit]) {
        border: 1px solid #ef3340;
        outline: none;
        background-color: #ffe3e3!important;
      }
    }

    .card-title {
      font-size: 18px;
    }

    label {
      &:nth-of-type(1) {
        padding-top: 32px;
      }

      font-size: 16px;
      display: block;
      width: 100%;
      padding-top: 16px;
      select,input {
        width: 100%;
        margin-top: 16px;
        font-size: 14px;
        height: 32px;
      }
    }

    .forgot-password {
      margin-bottom: 16px;
    }

    span.invalid-credentials {
        color: #f00;
        font-size: 12px;
    }

    div.invalid-credentials {
      top: 0;
      left: 0;
      background: #e74855;
      color: #fff;
      font-size: 12px;
      width: 100%;
      line-height: 15px;
      padding: 10px;
      text-align: center;

      a {
          color: #fff;
      }
    }

    .button-anchor, .forgot-password {
      margin-top: 32px;
      width: 100%;

      a {
        color: #333;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
