.ReactModal__Body--open {
    overflow: hidden;
}

.ReactModal__Overlay--after-open {
    background-color: rgba(0, 0, 0, 0.5) !important;
    overflow-y: scroll;
    z-index: 9001;

    .ReactModal__Content--after-open {
        position: relative;
        border: 0 !important;
        padding: 0 !important;
        margin: auto !important;
        max-width: 864px;
        box-shadow: 10px 10px 50px rgba(0,0,0,0.5);
        border-radius: 3px;

        .modal {
            .titlebar {

                background: #4F5858;
                min-height: 70px;
                width: 100%;
                .titlebarinner {
                    position: relative;
                    top: 20px;
                    color: #FFFFFF;
                    display: table;
                    float: none;
                    height: 100%;
                    margin: 0 auto;
                    width: 94%;
                    .title {
                        display: table-cell;
                        vertical-align: middle;
                        text-align: left;
                        width: 100%;
                        font-size: 18px;
                        font-family: Helvetica Neue, Medium;
                    }
                    .titleclose {
                        display: table-cell;
                        text-align: right;
                        vertical-align: middle;
                        width: 50%;
                        a {
                            img {
                                cursor: pointer;
                                width: 32px;
                                height: 31.25px;
                            }
                        }
                    }
                }
            }
            .modalbody {
                width: 100%;
                .modalboddyinner {
                    width: 100%;
                }
            }
        }
    }


    .defaultModal {
        position: relative;
        top: 40px;
        left: auto;
        right: auto;
        bottom: 40px;
        border: 1px solid rgb(204, 204, 204);
        background: rgb(255, 255, 255);
        overflow: auto;
        outline: none;
        padding: 20px;
    }


    .warningModal {
        position: relative;
        border-radius: 3px;
        top: 180px;
        left: auto;
        right: auto;
        bottom: 40px;
        border: 1px solid rgb(204, 204, 204);
        background: rgb(255, 255, 255);
        overflow: auto;
        outline: none;
        padding: 20px;
        .modal {
            .titlebar {
                background: #F25C66;
            }
        }
    }


    .errorModal {
        position: relative;
        top: 300px;
        width:400px;
        left: auto;
        right: auto;
        bottom: 40px;
        border: 1px solid rgb(204, 204, 204);
        overflow: auto; border-radius: 4px;
        outline: none; padding: 20px;
        .modal {
            .titlebar {
                background: #ff4f52;
                .titlebarinner {
                    top: 0;
                    padding: 20px 0 15px 0
                }
            }
            .modalbody{
                display: none;
            }
        }
    }


    .tourModal {
        position: relative;
        top: 100px;
        width: auto;
        left: auto;
        right: auto;
        bottom: 40px;
        border: 1px solid rgb(204, 204, 204);
        overflow: auto; border-radius: 4px;
        outline: none; padding: 20px;
        .modal {
            .titlebar {
                display: none;
            }
            .modalbody{
                .modalboddyinner{
                    div {
                        position: relative;
                        img {
                            width: 860px;
                        }
                        .slideButton-1 {
                            background-color: transparent;
                            position: absolute;
                            width: 193px;
                            height: 59px;
                            bottom: 78px;
                            right: 155px;
                            cursor: pointer;
                        }
                        .slideButton-2 {
                            background-color: transparent;
                            position: absolute;
                            bottom: 78px;
                            left: 46px;
                            width: 195px;
                            height: 59px;
                            cursor: pointer;
                        }
                        .slideButton-3 {
                            background-color: transparent;
                            position: absolute;
                            bottom: 78px;
                            right: 48px;
                            width: 193px;
                            height: 59px;
                            cursor: pointer;
                        }
                        .slideButton-4 {
                            background-color: transparent;
                            position: absolute;
                            bottom: 78px;
                            left: 47px;
                            width: 193px;
                            height: 59px;
                            cursor: pointer;
                        }
                        .slideButton-5 {
                            background-color: transparent;
                            position: absolute;
                            bottom: 78px;
                            left: 47px;
                            width: 193px;
                            height: 59px;
                            cursor: pointer;
                        }
                        .slideButton-6 {
                            background-color: transparent;
                            position: absolute;
                            bottom: 78px;
                            left: 37px;
                            width: 195px;
                            height: 60px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .transferTitleModal {
        position: relative;
        top: 40px;
        left: auto;
        right: auto;
        bottom: 40px;
        border: 1px solid rgb(204, 204, 204);
        background: rgb(255, 255, 255);
        outline: none;
        padding: 20px;
    }

    .bulkUpdateModal {
        position: relative;
        left: auto;
        right: auto;
        bottom: 40px;
        border: 1px solid rgb(204, 204, 204);
        background: rgb(255, 255, 255);
        outline: none;
        padding: 20px;
    }
    .bulkUpdateResultModal {
        position: relative;
        left: auto;
        right: auto;
        bottom: 40px;
        border: 1px solid rgb(204, 204, 204);
        background: rgb(255, 255, 255);
        outline: none;
        padding: 20px;
    }
}

