@import 'common';

.publication {
  .csv-toast{
    display: block;
    height: 32px;
    z-index: 2;
    position: relative;
    visibility: visible;
    margin-top: -32px;
    top: 32px;
  
  .update-success{
    font-family: 'HelveticaNeueETW01-65Md';
    font-size: 14px;
    background: #3eb1c8;
    color: #FFFFFF;
    height: 32px;
    z-index: 2;
    position: relative;
    max-width: 1920px;
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
    width:100%;
    left: -5px;
    padding: 7px;
  }
}
  h1 {
    font-size: 26px;
    text-align: left;
    margin: 0;
    color: #4f5858;
  }

  .publication-header {
    z-index: 1;
    background: url('images/App/BannerArt_WorksList%20Banner.svg') no-repeat center center;
    background-size: 1930px;
    height: 222px;
    border-bottom: 2px solid #4f5858;

    .publication-status-selector {
      margin: 0 auto;
      width: 960px;
      border: 4px solid #4f5858;
      background: white;
      display: flex;
      position: relative;
      top: 50%;
      height: 72px;

      a {
        cursor: pointer;
        width: 238px;
        height: 64px;
        line-height: 64px;
        display: block;
        font-size: 20px;
        font-family: 'HelveticaNeueETW01-65Md';
        color: #4f5858;

        &.selected {
          font-family: 'HelveticaNeueETW01-55Rg';
          color: white;
          background: #4f5858;
          position: relative;

          &:before {
            content: ' ';
            background: url(images/Publications/Triangle.svg);
            width: 50px;
            height: 25px;
            display: block;
            position: absolute;
            left: calc(50% - 25px);
            bottom: -44px;
          }
        }
      }
    }
  }
  .publication-title {
    padding: 48px 0 30px 0;
    width: 960px;
    margin: 0 auto;

    h1 {float:left}
    .recordSearchHolder {
      width: 100%;
      margin: 70px 0 0 0;
      .record-search-container {
        position: relative;
        float:right;
        width: 608px;
        height: 40px;

        &:before {
          content: "";
          background: url('images/AddArticle/DarkTriangle.svg') no-repeat right center;
          width: 16px;
          height: 100%;
          top: 0;
          left: 80px;
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          position: absolute;
          pointer-events: none;
        }
        .searchType {
          float:left;
          height: 40px;
          width: 104px;
          padding-left: 30px;
          -moz-appearance: none;
           -webkit-appearance: none;
           -webkit-border-radius: 0px;
           border-radius: 0px;
          border-right:none;
          background-color: white;
        }

        input {
          height: 40px;
          width: 496px;
          padding-left: 9.24px;
          position: relative;
        }

        input::placeholder {
          color: #4F5858;
          padding-left: 18px;
          background: url('images/Publications/Add.svg') no-repeat left center;
        }

        .record-search-results {
          position: absolute;
          font-size: 12px;
          top: 39px;
          left: 108px;
          width: 496px;
          height: 370px;
          text-align: left;
          background: white;
          border: 1px solid black;
          overflow: auto;
          box-shadow: 0 0 2px rgba(0,0,0,.5);
          z-index: 1;

          .record-search-result-holder {
            cursor: pointer;
            .add {
              display:inline-block;
              line-height: 32px;
              vertical-align: top;
              color:deepskyblue;
              cursor: pointer;
            }
            .record-search-result {
              display:inline-block;
              height: 50%;
              line-height: 16px;
              padding: 10px 20px 10px 28px;
              width: 88%;
              overflow: hidden;
          }


            &:hover {
              background: #f1f1f1;
            }
          }
        }
      }
    }
  }
  .publication-actions {
    padding: 48px 0 32px 0;
    width: 960px;
    margin: 0 auto;

    .add-record {
      cursor: pointer;
      border:none;
      background: #3eb1c8;
      color: #fff;
      display: inline-block;
      width: 192px;
      line-height: 48px;
      font-size: 16px;
      text: {
        decoration: none;
      }
    }

    .actions {
      width: 192px;
      border: 1px solid $dark-grey;
      line-height: 46px;
      font-size: 16px;
    }
    .activeAction {
      line-height:48px;
      border:none;
      background: #3eb1c8;
      color: #fff;
    }
    .tooltips {
      position: relative;
      div {
        position: absolute;
        width: 160px;
        color: #FFFFFF;
        background: #4f5858;
        line-height: 30px;
        text-align: left;
        border-radius: 0px;
        padding: 10px 0 5px 0;
        visibility: visible;
        opacity: 1;
        top: 57px;
        right: 9%;
        z-index: 999;
        p {
          font-size:.83em;
          margin: 0;
          padding-top:5px;
          padding-bottom:5px;
          padding-left: 15px;
        }
        p:hover {
          background: #3eb1c8;
        }
      }
      div:after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 46%;
        width: 0;
        height: 0;
        border-bottom: 8px solid #4f5858;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
      }
    }
  }

  .publication-children {
    width: 960px;
    margin: 0 auto 48px auto;

    table {
      width: 100%;
      border-collapse: collapse;
    }

    // General styles for all cells

    td {
      padding: 0 8px;
      text-align: left;
      text-transform: capitalize;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 12px;
      background-clip: padding-box;

      &.title {
        width: 300px;
        max-width: 300px;
      }

      &.url {
        width: 280px;
        max-width: 280px;
        text-transform: none;
        position: relative;
      }

      &.date, &.type {
        width: 140px;
        max-width: 140px;
      }
      &.status {
        width: 80px;
        max-width: 80px;
      }

      &.checkbox {
        width: 40px;
        max-width: 40px;
      }
    }

    // Backgrounds for status

    tr.issue:not(.failed) > td {
      background-color: $light-grey;
    }

    tr.failed > td {
      background-color: $light-red;

      &.status {
        color: #ef3340;
      }
    }

    tr:not(.failed) > td {
      background-color: white;
    }

    // Primary table

    .publication-children-listing {
      > tbody > tr > td {
        border-top: 1px solid #d9d9d9;

        &:first-child {
          border-left: 1px solid #d9d9d9;
        }

        &:last-child {
          border-right: 1px solid #d9d9d9;
          padding-right: 16px;
        }
      }

      > tbody, > thead {
        > tr > td {
          height: 48px;
        }

        tr:last-child td {
          border-bottom: 1px solid #d9d9d9;
          overflow: visible;
        }
      }

      .publicationSortArrow { top: 4px }
    }

    // Nested table

    table.publication-children-listing td.issue-articles:last-child {

      padding-right: 0;
      border-top: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;

      thead {
        display: none;
      }

      tbody tr {
        &:last-child td {
          border-bottom: 0 none transparent;
        }

        td {
          border-bottom: 0 none transparent;
          border-top: 0 none transparent;
          

          &:first-child {
            border-left: 0 none transparent;
          }
          &:last-child {
            border-right: 0 none transparent;
          }

          &.checkbox {
            padding-left: 20px;
            width: 50px;
          }

          &.title {
            width: 290px;
          }
        }
      }
    }
  }
}

.issueDOILink {
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    width: 60%;
}

.issueDoiAddNew {
  position: absolute;
  top:12px;
  right: 16px;
  border: 1px solid $dark-grey;
  color: #000 !important;
  display: inline-table;
  height: 24px;
  text-decoration: none;
  width: 96px;
  span {
    display: table-cell;
    height:100%;
    width:100%;
    vertical-align: middle;
    text-align: center;
  }
  &:active, &:hover, &:visited {
    color: #000 !important;
  }
}

.actionModal {
  padding:20px 43px 45px 43px;
  .messageHolder {
    min-height: 170px;
    font-size: 1.05em;
  }
  .buttonTable {
    display: table;
    width: 100%;
    .tableRow {
      width: 100%;
      display: table-row;
      .leftCell {
        display: table-cell;
        width: 50%;
      }
      .rightCell {
        display: table-cell;
        width: 50%;
        .leftButton {
          float: right;
          cursor: pointer;
          background: white;
          border: 1px solid #4f5858;
          color: #4f5858;
          width: 145px;
          height: 38px;
          margin-right: 35px;
          font-size: 1.05em;
        }
        .rightButton {
          float: right;
          cursor: pointer;
          background: #ef3340;
          border: none;
          color: white;
          width: 145px;
          height: 38px;
          font-size: 1.05em;
        }
      }
    }
  }

  .buttonHolder {
    margin-bottom: 51px;
    button{
      cursor: pointer;
      float:right;
      background: white;
      border: 1px solid #4f5858;
      color: #4f5858;
      width: 130px;
      height: 31px;
    }
  }
}

.grayedOut {
  color: grey;
  cursor: not-allowed;
}

.sorted {
  color: #3eb1c8;
}

.moveModal {
  padding:0 0px 20px 0px;
  .issuesContainer {
    height: 500px;
    padding: 20px 0 0 30px;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    .issueBox {
      margin-bottom: 30px;
      margin-right: 30px;
      width: 177.5px;
      height: 120px;
      background: #e7e7e7;
      padding: 15px;
      color: #6e6e6e;
      cursor: pointer;
    }
    .selectedIssue {
      background: #3eb1c8;
      color: white;
    }
  }
  .buttonContainer {
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-top: 2px #e7e7e7 solid;
    padding: 0 30px 0 30px;
    .leftButton {
      cursor: pointer;
      background: white;
      border: 1px solid #4f5858;
      color: #4f5858;
      width: 140px;
      height: 40px;
      font-size: 1.1em;
    }
    .rightButton {
      margin-left: 30px;
      cursor: pointer;
      background: #3eb1c8;
      border: none;
      color: white;
      width: 140px;
      height: 40px;
      font-size: 1.1em;
    }
    .inactive {
      background: white;
      cursor: not-allowed;
      color: #4f5858;
      border: 1px solid #4f5858;
    }
  }
}
